# from setup.py
cryptography~=1.2.1
requests[security]~=2.9.1
PyYAML~=3.11
python-dateutil~=2.4.2
pytz~=2015.7
six~=1.10.0

# for development/testing
flake8>=2.5.4
nose2>=0.6.0
tox>=2.3.1
sure>=1.2.24
mock>=1.3.0
coverage>=4.0.3

# additional requirements in benchmark/requirements.txt
